@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: light dark;
  }

  * {
    @apply border-gray-200 dark:border-gray-800;
  }

  html,
  body {
    @apply text-gray-900 bg-gray-50 dark:bg-gray-950 dark:text-gray-200;
  }

  .root {
    isolation: isolate;
  }

  .using-mouse * {
    outline: none !important;
  }
  :root {
    --ns-1: 225 60% 11%; /* #0B132B */
    --ns-2: 228 40% 18%; /* #1E2541 */
    --ns-3: 214 30% 35%; /* #3B506B */
    --ns-4: 179 45% 55%; /* #5CC0BE */
    --ns-5: 171 100% 72%; /* #6FFFE9 */

    --background: 0 0% 100%;
    --foreground: var(--ns-1);
    --card: 0 0% 98%;
    --card-foreground: var(--ns-1);
    --popover: 0 0% 100%;
    --popover-foreground: var(--ns-1);
    --primary: var(--ns-4);
    --primary-foreground: var(--ns-1);
    --secondary: var(--ns-2);
    --secondary-foreground: 0 0% 100%;
    --muted: var(--ns-3);
    --muted-foreground: var(--ns-1);
    --accent: var(--ns-4);
    --accent-foreground: var(--ns-1);
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: var(--ns-3);
    --input: var(--ns-3);
    --ring: var(--ns-5);

    --chart-1: var(--ns-4);
    --chart-2: var(--ns-5);
    --chart-3: var(--ns-3);
    --chart-4: var(--ns-2);
    --chart-5: var(--ns-1);

    --radius: 0.5rem;
  }

  .dark {
    --background: var(--ns-1);
    --foreground: 0 0% 98%;
    --card: var(--ns-2);
    --card-foreground: 0 0% 98%;
    --popover: var(--ns-2);
    --popover-foreground: 0 0% 98%;
    --primary: var(--ns-4);
    --primary-foreground: var(--ns-1);
    --secondary: var(--ns-3);
    --secondary-foreground: 0 0% 98%;
    --muted: var(--ns-3);
    --muted-foreground: 0 0% 80%;
    --accent: var(--ns-4);
    --accent-foreground: var(--ns-1);
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 98%;
    --border: var(--ns-2);
    --input: var(--ns-2);
    --ring: var(--ns-5);

    --chart-1: var(--ns-4);
    --chart-2: var(--ns-5);
    --chart-3: var(--ns-3);
    --chart-4: var(--ns-2);
    --chart-5: var(--ns-1);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
